name: Run Newman Tests and Notify Slack

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run-newman-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        # Install Node.js
        npm install -g newman newman-reporter-htmlextra

    - name: List files for debugging
      run: ls -al

    - name: Run Newman Tests
      id: newman
      run: |
        newman run DEVVO.postman_collection.json
      continue-on-error: true

    - name: Notify Slack on Failure
      if: steps.newman.outcome == 'failure'
      env:
        SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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
      run: |
        echo "Enviando notifica莽茫o para o Slack com o payload: {\"text\": \" Testes automatizados falharam no reposit贸rio! Por favor, verifique o relat贸rio.\"}"
        curl -v -X POST -H "Content-type: application/json" --data "{\"text\": \" Testes automatizados falharam no reposit贸rio! Por favor, verifique o relat贸rio.\"}" "$SLACK_WEBHOOK_URL"
